body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.resume {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  margin: 20px 0;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #333;
}

section ul li {
  margin-bottom: 5px;
}

.degree, .job {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

